---
// SectionHeading.astro
const { children } = Astro.props;
---
<div class="section-heading" style={`background:var(--color-accent1)`}>
  <slot />
</div>

<style>
.section-heading {
  flex: 1;
  width: 250px;
  text-align: center;
  padding: 0rem 0.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 4rem;
  letter-spacing: 0.01em;
}
</style>
